h1 {
    text-align: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;

}

.inputs {
    width: 20%;
    height: 30px;
}

.createBtn {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background-color: aqua;
}